# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc

# Distribution / packaging
.Python
env/
build/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*cover


# pyenv
.python-version


# dotenv
.env

# virtualenv
venv/
ENV/
amity-venv/

.DS_Store
